<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="metrics" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${jinglertpengine.home}/log/jinglertpengine-stats.log.%d.gz"/>
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss,SSS}\t%m%n"/>
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE}%5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="appender" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${jinglertpengine.home}/log/jinglertpengine.log.%d.gz"/>
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss,SSS} %t %-5p %c - %m%n"/>
        </layout>
    </appender>

    <logger name="jinglertpengine-stats">
        <level value="info"/>
        <appender-ref ref="metrics"/>
    </logger>

    <category name="jinglertpengine-stats">
        <priority value="error" />
        <appender-ref ref="appender" />
    </category>

    <root>
        <priority value="debug"/>
        <appender-ref ref="appender"/>
    </root>

   </log4j:configuration>
